/* 
cell width = 10px
total width for n dim = width of cell * n
*/

.container {
  position: relative;
  .header {
    height: 50px;
    width: 300px;
    border: 1px solid rgb(44, 43, 43);
    display: flex;
    margin: 0 auto;

    .heading {
      padding: 5px;
      width: 60%;
      display: grid;
      place-content: center;
      h1 {
        font-size: 20px;
        margin: 0;
      }
    }
    .score {
      width: 40%;
      padding: 5px;
      display: grid;
      place-content: center;
      text-align: center;
    }
  }

  .board-container {
    height: calc(100vh - 70px);
  }
  .board {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
    background-color: rgb(44, 43, 43);
    margin: 0 auto;
    position: relative;

    .board-cell {
      height: 10px;
      width: 10px;
      display: inline-block;

      &.hasSnake {
        background-color: rgb(217, 239, 243);
      }

      /* &.isBreakpoint {
        background-color: red;
      } */

      &.isMeal {
        background-color: rgb(140, 216, 140);
        border-radius: 50%;
      }
    }

    .screen {
      left: 0;
      right: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #57505d;
      display: grid;
      place-items: center;
      transition: 0.3s ease;
      opacity: 0;
      
      &.show {
          opacity: 1;
      }

      .btn-container {
        color: #fff;
        text-align: center;
        p { 
            font-size: 16px;
        }
        button {
            color: #fff;
            padding: 10px 25px;
            border-radius: 50px;
            border: none;
            background: #4ab8c6;
          }
      }
    }
  }
}
